{% extends "layout.html" %}

{% block content %}
        <h1>Welcome to the UMW R/C club</h1>
        <p>Our current club president {{president}}</p>
        <p>The next build your own workshop is 20 January at 2pm where we will be building {{project.company}}'s {{project.plane}}. The cost is ${{project.cost}}</p>

        <p>Join us on the quad every Wednesday night at 6pm to fly quadcopters and R/C planes</p>
        {% if flyingP %}
        <h3> Join us tonight on the Quad! </h3>
        {% else %}
        <p>Not flying tonight</p>
        {% endif %}
        
        
        <h1>Featured Videos</h1>
        {% for post in posts %} 
        <h2>{{post.title}}</h2>
        <iframe width="620" height="480"
            src="http://www.youtube.com/embed/{{post.vidLink}}">
        </iframe>
        <p>{{post.description}}</p>
        {% endfor %} 

{% endblock %}